<ion-view view-title="Chats">
  <ion-content >
    <div class="list" ng-repeat="chat in chats | filter:group_id">
      <a class="item item-avatar" href="https://www.facebook.com/{{chat.user}}">
        <img ng-src="{{chat.imgURL}}">
          <h3>{{chat.user_id}}</h3>
          <p>{{chat.message}}</p>
      </a>
    </div>
    <ion-footer-bar  align-title="left" class="bar-assertive">
      <form>
        <div class="list">
          <div class="item item-input-inset">
            <label class="item-input-wrapper" class="chatbox">
              <input type="text" placeholder="message" ng-model="chat.message">
            </label>
            <button class="button button-positive ion ion-ios-chatbubble" ng-click = "sendChat(chat)" class="chatbox"></button>
          </div>
        </div>
      </form>
    </ion-footer-bar>
  </ion-content>
</ion-view>
